body {
  margin-top: 50px;
  font-family: Verdana, Geneva, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: Verdana, Geneva, sans-serif;
}

hr {
    display: block;
    height: 1px;
    border: 2px solid black;
    margin: auto;
    padding: 0;
    width: 95%;
    border-radius: 2px;
}

h2 {
  font-family: fantasy;
  color: mediumseagreen;
  letter-spacing: 1.5px;
  font-size: 50px;
}

.parent{
  text-align: center;
}
/* Dropdown Button */
.dropbtn {
  background-color: black;
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;

  width: 147px;
  height: 40px;
  border-radius: 10px;
}

.header {
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  left: 200px;
  /* left: 50%;*/
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: black;}
